.header {
  display: flex;
  align-items: center;
  background: #333;
  height: 40px;
  padding: 0px 16px;
}

.navigation-link {
  margin-right: 8px;
  text-decoration: none;
  color: white;
}

.navigation-link:hover {
  text-decoration: underline;
}